/*
 * General
 */

* {
    -fx-font-family: "Inter";
}

.light-gray-background {
    -fx-background-color: -color-neutral-subtle;
}

.medium-gray-background {
    -fx-background-color: -color-neutral-subtle;
}

.transparent-background {
    -fx-background-color: transparent;
}

.white-background {
    -fx-background-color: white;
}

.small-padding {
    -fx-padding: 10;
}

.padding {
    -fx-padding: 15;
}

.large-padding {
    -fx-padding: 30;
}

.padding-horizontal {
    -fx-padding: 0 15 0 15;
}

.padding-vertical {
    -fx-padding: 15 0 15 0;
}

.separator-padding {
    -fx-padding: 15 0 15 0;
}

.border {
    -fx-border-color: -color-border-default;
    -fx-border-width: 1;
}

.rounded-corners {
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

#hintLabel {
    -fx-opacity: 0.7;
}

#bottomBar {
    -fx-border-color: -color-border-default;
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 1;
}

#stateModalBody {
    -fx-border-color: -color-border-default;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 1;
}

.button-icon > .ikonli-font-icon {
    -fx-icon-size: 27;
}

.button-icon {
}

.button-icon:hover {
}

#wordInput FontIcon {
    -fx-icon-size: 23;
}

#playPauseButton > .ikonli-font-icon {
    -fx-icon-size: 37;
}

.speedCircle {
    -fx-fill: -color-neutral-emphasis;
    -fx-stroke: -color-neutral-muted;
    -fx-stroke-width: 3;
}

.speedCircleActive {
    -fx-fill: -color-fg-default;
}

#speedButtonVBox:disabled .speedCircle {
    -fx-opacity: 0.5;
}

.modal-pane > .scroll-pane > .viewport > * > .scrollable-content {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.separator > .line {
    -color-separator: -color-border-default;
}

.scroll-bar:horizontal {
    -fx-pref-height: 2;
}

.scroll-bar:vertical {
    -fx-pref-width: 2;
}

/*
 * Graph theming
 */

.graph,
#graphPanel {
    -fx-background-color: transparent;
}

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #61b5f1;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #b1dff7;
}

.final-state {
    -fx-stroke: green;
    -fx-fill: yellowgreen;
}

.initial-state {
    -fx-stroke: #ff4813;
    -fx-fill: #ff7d3d;
}

.vertex:hover {
    /* pseudo-classes also work */
    /*-fx-cursor: default; */ /* You can use this style to override the hand/move cursors while hovering. */
    -fx-stroke-width: 4;
}

.vertex-label {
    -fx-font-size: 10pt;
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: -color-neutral-emphasis;
    /* -fx-stroke-dash-array: 2 5 2 5; /* remove for clean lines */
    -fx-fill: transparent; /* important to keep for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.active-edge {
    -fx-stroke: -color-danger-4; 
}

.edge:hover {
    -fx-stroke-width: 3;
    -fx-cursor: hand;
}

.edge-label {
    -fx-font-size: 9pt;
    -fx-fill: -color-fg-default;
}

.arrow {
    -fx-stroke-dash-array: none;
}

.myEdge {
    -fx-stroke-width: 2;
    -fx-stroke: red;
    -fx-opacity: 1;
    -fx-fill: transparent; /* important to keep for curved edges */
}
