/*
 * General
 */

* {
    -fx-font-family: "Inter";
}

.light-gray-background {
    -fx-background-color: -color-neutral-subtle;
}

.medium-gray-background {
    -fx-background-color: -color-neutral-subtle;
}

.transparent-background {
    -fx-background-color: transparent;
}

.white-background {
    -fx-background-color: white;
}

.small-padding {
    -fx-padding: 10;
}

.padding {
    -fx-padding: 15;
}

.large-padding {
    -fx-padding: 30;
}

.padding-horizontal {
    -fx-padding: 0 15 0 15;
}

.padding-vertical {
    -fx-padding: 15 0 15 0;
}

.separator-padding {
    -fx-padding: 15 0 15 0;
}

.border {
    -fx-border-color: -color-border-default;
    -fx-border-width: 1;
}

.rounded-corners {
    -fx-background-radius: 5 5 5 5, 4 4 4 4;
    -fx-border-radius: 5 5 5 5;
}

.no-path-found-label {
    -fx-text-fill: -color-danger-5;
}

.no-path-found-panel {
    -fx-border-color: -color-danger-5;
}

#hintLabel {
    -fx-opacity: 0.7;
}

#bottomBar {
    -fx-border-color: -color-border-default;
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 1;
}

#stateModalBody {
    -fx-border-color: -color-border-default;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 1;
}

.button-icon > .ikonli-font-icon {
    -fx-icon-size: 27;
}

#wordInput FontIcon {
    -fx-icon-size: 23;
}

#playPauseButton > .ikonli-font-icon {
    -fx-icon-size: 37;
}

.speedCircle {
    -fx-fill: -color-neutral-emphasis;
    -fx-stroke: -color-neutral-muted;
    -fx-stroke-width: 3;
}

.speedCircleActive {
    -fx-fill: -color-fg-default;
}

#speedButtonVBox:disabled .speedCircle {
    -fx-opacity: 0.5;
}

.modal-pane > .scroll-pane > .viewport > * > .scrollable-content {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.separator > .line {
    -color-separator: -color-border-default;
}

.scroll-bar:horizontal {
    -fx-pref-height: 3;
}

.scroll-bar:vertical {
    -fx-pref-width: 2;
}

.menu-item-danger * {
    -fx-text-fill: -color-danger-5;
    -fx-icon-color: -color-danger-5;
}

.zoom-label {
    -fx-opacity: 0.75;
    -fx-padding: 4 6 4 6;
    -fx-background-color: -color-neutral-emphasis-plus;
    -fx-text-fill: -color-fg-emphasis;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
}

.button.extra-small {
    -fx-padding: 4 6 4 6;
    -fx-font-size: 8.5pt;
}

/*
 * Graph theming
 */

.graph,
#graphPanel {
    -fx-background-color: transparent;
}

.vertex {
    -fx-stroke-width: 2.25;
    -fx-stroke: #6d958c;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #8CBEB2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
}

.final-state {
    -fx-stroke: #c05252;
    -fx-fill: #ed6c6c;
}

.initial-state {
    -fx-stroke: #d3cca7;
    -fx-fill: #F2EBBF;
}

.initial-state.final-state {
    -fx-stroke: #c89451;
    -fx-fill: #F3B562;
}

.vertex:hover {
    /* pseudo-classes also work */
    /*-fx-cursor: default; */ /* You can use this style to override the hand/move cursors while hovering. */
    -fx-stroke-width: 3.25;
}

.vertex-label {
    -fx-font-size: 10pt;
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: -color-neutral-emphasis;
    /* -fx-stroke-dash-array: 2 5 2 5; /* remove for clean lines */
    -fx-fill: transparent; /* important to keep for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.active-edge {
    -fx-stroke: -color-danger-4;
    /* -fx-stroke-width: 2.5; */
    /* -fx-opacity: 1; */
}

.active-button {
    -fx-text-fill: -color-danger-4;
    -fx-background-color: -color-danger-4, -color-button-bg;
}

.active-button:hover {
    -fx-background-color: -color-danger-4, -color-button-bg-hover;
}

.edge:hover {
    -fx-stroke-width: 3;
    -fx-cursor: hand;
}

.active-edge {
    -fx-stroke-width: 2.5;
}

.active-edge:hover {
    -fx-stroke-width: 3;
}

.edge-label {
    -fx-font-size: 9pt;
    -fx-fill: -color-fg-default;
}

.arrow {
    -fx-stroke-dash-array: none;
}

.button:danger {
    -fx-border-color: red;
}
